.slognimg {
  object-fit: fill;
  width: 42%;
  height: auto;
  position: fixed;
  z-index: -1;
}
  
  .hero-container {
    /* background: url('./public/images/HeroS.png') center center/cover no-repeat; */
    display: block;
    background-color: transparent;
    color: #1f1f1f;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0px auto;
    max-width: 1400px;
    position: relative;
    width: 100%;
  }
  
  .hero-title{
    color: #1f1f1f;
    font-size: 5.25rem;
    line-height: 5.75rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.2px;
  }
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }