.buying-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    flex-direction: row;
}

.cours-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.buying-heading {
    font-size: 2rem;
    border-bottom: 1px solid #282828;
    margin-bottom: 15px;
}

.cours-container >img {
    width: 150px;
    height: auto;
}
