.editPassword-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-top: 150px;
    position: relative;
    margin-bottom: 200px;   
}

.password-Header {
    text-align: center;
    padding-bottom: 12px;
    width: 400px;
    border-bottom: 1px solid #282828;
}

.editPassword-container .center-handel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 850px;
}

.password-contanier {
    margin-top: 120px;
    margin-left: 20px;
}

form.password-contanier{
    align-items: center;
    justify-content: center;
}

.updatePassword-container
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}

.updatePassword-field
{
    position: relative;
    width: 400px;   
    margin-top: 15px;
    margin-left: 15px;
}


.updatePassword-field input
{
    width: 100%;
    padding: 12px 26px;
    border: 1px solid #636161;
    /* outline: none; */
    border-radius: 2px;
    font-size: 1.19rem;
    transition: 0.15s;
}

.updatePassword-field span
{
    position: absolute;
    left: 0;
    padding: 10px;
    padding-left: 20px;
    pointer-events: none;
    font-size: 1.2rem;
    color: #636161;
    /* text-transform: uppercase; */
    font-family: 'PT Sans', sans-serif;
    transition: 0.15s;
}

.updatePassword-field input:valid ~ span,
.updatePassword-field input:focus ~ span
{
    color: #282828;
    transform: translateX(25px) translateY(-9px);
    font-size: 0.85rem;
    padding: 0 5px;
    background: #fff;
    /* border-left: 1px solid #282828;
    border-right: 1px solid #282828; */
}
.updatePassword-field input:valid,
.updatePassword-field input:focus
{
    color: #282828;
}

.password-contanier .btn{
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 230px;
    width: 400px;
}