.EditAvatar-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-top: 150px;
    position: relative;
    margin-bottom: 200px;
    
}

.EditAvatar-container .profil-Header {
    text-align: center;
    padding-bottom: 12px;
    width: 400px;
    border-bottom: 1px solid #282828;
}

.EditAvatar-container .center-handel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 850px;
}

.avatar-contanier {
    margin-top: 120px;
    margin-left: 20px;
}

.updateAvatar-container
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}

.updateAvatar-field
{
    position: relative;
    width: 400px;
    margin-top: 15px;
}

.updateAvatar-field:nth-child(1) span
{
    position: absolute;
    transform: translateX(25px) translateY(-9px);
    left: 0;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
    font-size: 0.85rem;
    color: #636161;
    background: #fff;
    font-family: 'PT Sans', sans-serif;
}

.updateAvatar-field:nth-child(1) input:valid ~ span,
.updateAvatar-field:nth-child(1) input:focus ~ span
{
    color: #282828;
    background: #fff;
}

.updateAvatar-field input
{
    width: 100%;
    padding: 12px 26px;
    border: 1px solid #636161;
    border-radius: 2px;
    font-size: 1.19rem;
    transition: 0.15s;
}

.updateAvatar-field span
{
    position: absolute;
    left: 0;
    padding: 10px;
    padding-left: 20px;
    pointer-events: none;
    font-size: 1.2rem;
    color: #636161;
    font-family: 'PT Sans', sans-serif;
    transition: 0.15s;
}

.updateAvatar-field input:valid ~ span,
.updateAvatar-field input:focus ~ span
{
    color: #282828;
    transform: translateX(25px) translateY(-9px);
    font-size: 0.85rem;
    padding: 0 5px;
    background: #fff;
}
.updateAvatar-field input:valid,
.updateAvatar-field input:focus
{
    color: #282828;
}

.avatar-contanier .btn{
    margin-top: 40px;
    margin-bottom: 5px;
    width: 400px;
}