.user-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    border-right: 0;
    width: 21.6rem;
    /* border-right: 1px solid #282828; */
    margin-top: 20px;
    margin-left: -1px;
    align-items: center;
    justify-content: center;
    width: 346PX;
}

.user-avatar {
    text-align: center;
    font-size: 25px;
}
/* .user-name {
    text-align: center;
    font-size: 25px;
} */

.pages-menu {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin-top: 20px; 
    
}

.pages-menu .btn{
    padding: 12px 10px;
    margin-bottom: -1px;
    border-radius: 0;
    width: 346PX;
    font-size: 15px;
    text-align: start;
}