.removeAccount-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 1402px;
    margin: 90px;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    margin-bottom: 200px;
    border: 1px solid #282828;
    
}

.remove-Header {
    text-align: center;
    /* border-top: 1px solid #282828; */
    border-bottom: 1px solid #282828;
    height: 40%;
    width: 1055px;
}

.removeAccount-container .center-handel {
    display: grid;
    grid-template-columns: repeat(1, auto);
    border-left: 1px solid #282828;
    margin-left: -1px;
    /* border-bottom: 1px solid #282828; */
}

.worning {
    font-size: inherit;
    font-weight: 400;
    max-width: 500px;
    margin-left: 300px;
}

.wo {
    color: #b32d0f;
    font-weight: bold;
}

.remove-contanier {
    margin-top: -90px;
}

.remove-contanier .btn{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 300px;
    width: 200px;
}