
.signup-btn .btn {
    margin-top: 15px;
    width: 484px;
}
.sign-btn .btn{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 484px;
}

.googl-icon{
    width: 25px;
    height: auto;
    align-self: center;
}