.mywallet-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-top: 150px;
    position: relative;
    margin-bottom: 200px;
    
}

.wallet-Header {
    text-align: center;
    padding-bottom: 12px;
    width: 850px;
    border-bottom: 1px solid #282828;
}

.mywallet-container .center-handel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wallet-balance {
    font-size: 22px;
    font-weight: 400;
    max-width: 500px;
    /* margin-left: 300px; */
}

.wallet-wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.wallt-img {
    width: 60px;
    margin-right: 10px;
    -webkit-user-drag: none;
}

.balance {
    color: #282828;
    font-weight: bold;
}

.wallet-contanier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.wallet-contanier .btn{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px;
}